<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body x-data="{ 
        tab : 'Create Transaction', 
        balance: 0, 
    }">
    <header>
        <h1>Muneshwers Petty Cash</h1>
        <nav x-on:click="tab = 'Create Transaction' " >Create Transaction</nav>
        <nav x-on:click="tab = 'Reimburse' " >Reimburse</nav>
    </header>
    <main>
        <h2 x-text="tab"></h2>
        <div x-show="tab == 'Create Transaction' " >
            <div x-data="{
                input : {
                    date :  (new Date()).toISOString().split('T')[0],
                    recipient : '',
                    description : '',
                    amount : '',
                },
                validate() {
                    if (!this.input.recipient) { return false }
                    if (!this.input.description) {return false }
                    if (this.input.amount <= 0) {return false }
                    if (!this.input.date) {return false}
                    return true
                }
            }
            " >
                <form>
                    <input x-on:input="validate()"  placeholder="Recipient..." type="text" x-model="input.recipient" name="recipient">
                    <input x-on:input="validate()"  placeholder="Description..." type="text" x-model="input.description" name="description">
                    <input x-on:input="validate()"  placeholder="Amount..." type="number" x-model="input.amount"  name="amount">
                    <input x-on:input="validate()"  type="date" name="date" x-model="input.date" >
                    <div x-show="validate()" >
                        <button type="button">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </main>
</body>
</html>