<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<link rel="stylesheet" href="../styles/style.css">
<body x-data="{ 
        tab : 'Create Transaction', 
        balance: 0, 
    }"
    x-init=" fetch('/balance').then(data => data.json()).then(json => balance = json.balance) "
    >
    <header>
        <h1><span class="company" >Muneshwers</span> Petty Cash</h1>
        <div class="navbar">
            <nav :class="(tab == 'Create Transaction' ) ? 'current' : '' "  x-on:click="tab = 'Create Transaction' " >Create Transaction</nav>
            <nav :class="(tab == 'Reimburse' ) ? 'current' : '' "  x-on:click="tab = 'Reimburse' " >Reimburse</nav>
        </div>
    </header>
    <main>
        <h2 x-text="tab"></h2>
        <div x-show="tab == 'Create Transaction' " >
            <div x-data="{
                input : {
                    date :  (new Date()).toISOString().split('T')[0],
                    recipient : '',
                    description : '',
                    amount : '',
                },
                errorMessage : '',
                errorField : '', 
                initial : false,
                validate() {
                    if (!this.initial) { return false }
                    if (!this.input.recipient) { 
                        this.errorMessage = 'Recipient required'
                        this.errorField = 'recipient'
                        return false 
                    }
                    if (!this.input.description) {
                        this.errorMessage = 'Description required'
                        this.errorField = 'description'
                        return false 
                    }
                    if (this.input.amount <= 0) {
                        this.errorMessage = 'Amount required'
                        this.errorField = 'amount'
                        return false 
                    }
                    if (!this.input.date) {
                        this.errorMessage = 'Date required'
                        this.errorField = 'date'
                        return false
                    }
                    if (this.balance - this.input.amount  < 0 ) {
                        this.errorMessage = 'Insufficient balance'
                        this.errorField = 'balance'
                        return false
                    }
                    this.errorMessage = ''
                    this.errorField = ''
                    return true
                }
            }
            " >

                <div>
                    <span x-text="'Current Balance $'+balance" ></span>
                    <br>
                    <span x-text=" 'Amount $'+(input.amount || 0)"></span>
                    <br>
                    <span x-text="'Remainder $' + (balance - input.amount) " ></span>
                    <br>
                </div>
                <form>
                    <span x-text="initial" ></span>
                    <div x-show="errorMessage">
                        <span style="color: red;"  x-text="errorMessage"></span>
                    </div>
                    <br>
                    <input x-on:input="initial = true; validate()" :class="{'error' : errorField == 'recipient' }"   placeholder="Recipient..." type="text" x-model="input.recipient" name="recipient">
                    <input x-on:input="initial = true; validate()" :class="{'error' : errorField == 'description' }"   placeholder="Description..." type="text" x-model="input.description" name="description">
                    <input x-on:input="initial = true; validate()" :class="{'error' : errorField == 'amount' }"   placeholder="Amount..." type="number" x-model="input.amount"  name="amount">
                    <input x-on:input="initial = true; validate()" :class="{'error' : errorField == 'date' }"   type="date" name="date" x-model="input.date" >
                    <div x-show="validate()" >
                        <button type="button">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </main>
</body>
</html>