<div>
    <header>
        <h1><span class="company" >Muneshwers</span> Petty Cash</h1>
        <div class="navbar">
            <nav :class="{'current': tab == 'transactions'}" @click="tab = 'transactions'" hx-target="main" hx-get="/create_transaction" hx-swap="outerHTML">Create Transaction</nav>
            <nav :class="{'current': tab == 'reimburse'}" @click="tab = 'reimburse'" hx-get="/reimburse" hx-target="main" hx-swap="outerHTML">Reimburse</nav>
        </div>
    </header>
    <main hx-trigger="load" hx-target="this" hx-swap="outerHTML" hx-get="/create_transaction">
    </main>
</div>
