<div x-data="{
    transactionLog : [],
    toBeReimbursed : [],
    grid : null,
    grid2 : null,
    reimbursedTotal: 0,
    init(){
        fetch('/transactions')
            .then(data => data.json())
            .then(js => Alpine.raw(js.transactions))
            .then(transactions => 
                {   
                    this.grid = agGrid.createGrid(this.$refs.myGrid, {
                    rowData : transactions,
                    domLayout: 'autoHeight',
                    columnDefs : [
                        { field: 'description', checkboxSelection: true},
                        { field: 'amount' },
                        { field: 'recipient' },
                        { field: 'createdBy' },
                        { field: 'date'}
                    ],
                    rowSelection: 'multiple',
                    onRowSelected: (event) => {
                        if(event.node.isSelected()) {
                            console.log(event.node.data, ' :Selected and added to ', this.toBeReimbursed);
                            this.toBeReimbursed.push(event.node.data);
                            this.reimbursedTotal = this.reimbursedTotal + Number(event.node.data.amount);
                            this.grid2.setRowData(this.toBeReimbursed)
                            this.grid2.refreshCells()
                        } else {
                            console.log(event.node.data, ' :Deselected and removed.');
                            const index = this.toBeReimbursed.indexOf(event.node.data);

                            if (index > -1) {
                                this.toBeReimbursed.splice(index, 1);
                                this.reimbursedTotal = this.reimbursedTotal - Number(event.node.data.amount);
                            }
                            console.log('Reimbused list now: ', this.toBeReimbursed);
                        }
                        this.refreshGrid2();
                    }
                })
                // console.log(this.toBeReimbursed)
                console.log(transactions)
                this.grid2 = agGrid.createGrid(this.$refs.myGrid2, {
                    rowData : this.toBeReimbursed,
                    domLayout: 'autoHeight',
                    columnDefs : [
                        { field: 'description'},
                        { field: 'amount' },
                        { field: 'recipient' },
                        { field: 'createdBy' },
                        { field: 'date'}
                    ],
                })
            }
            )
        
    },
    refreshGrid2() {
        this.grid2.setRowData(this.toBeReimbursed);
    }
}">
    
    
    <div style="display: flex">
        <div style="flex: 1; margin-right: 20px">
            <h2>Transactions</h2>
            <div x-ref="myGrid" class="ag-theme-quartz ag-center-cols-viewport" style="width: auto"></div>
        </div>
        <div style="flex: 1;">
            <div style="display: flex; align-items: center; column-gap: 20px;">
                <h2>To Be Reimbursed</h2>
                <h2 x-text="'$'+reimbursedTotal" style="font-weight: bold;"></h2>
                <button type="button">Reimburse</button>
            </div>
            
            <div x-show="toBeReimbursed.length > 0">
                <div x-ref="myGrid2" class="ag-theme-quartz ag-center-cols-viewport"></div>
            </div>
        </div>
    </div>
</div>