<main x-ref="main" class="swappable" >
        <div x-data="{
            grid : null,
            signApproval : <%= signApproval %>,
            async init() {
                let alpineObj = this
                const actionRenderer = function(params) {
                    let reimbursement = params.data

                    const container = document.createElement('div');
                    container.classList.add('action-container');

                    if (reimbursement) {

                        const viewButton = document.createElement('button')
                        viewButton.classList.add('action-button')
                        viewButton.title = 'View'
                        const icon = document.createElement('i')
                        icon.classList.add('fa-solid')
                        icon.classList.add('fa-eye')
                        viewButton.appendChild(icon)
                        viewButton.addEventListener('click', () => {
                            $dispatch('view-modal', {reimbursement}); 
                        })

                        container.appendChild(viewButton)
                    }

                    if (reimbursement) {

                        const signButton = document.createElement('button')
                        const icon = document.createElement('i')
                        icon.classList.add('fa-solid')
                        icon.classList.add('fa-pen-nib')
                        if (reimbursement.signed) {
                            icon.style.color = '#228b22'
                            signButton.classList.add('blank-button')
                            signButton.title = 'Sign'
                        }

                        else if (alpineObj.signApproval) {
                            signButton.classList.add('action-button')
                            signButton.title = 'Sign'
                            signButton.addEventListener('click', () => {
                                icon.classList.remove('fa-pen-nib')
                                icon.classList.add('fa-circle-notch')
                                icon.classList.add('fa-spin')
                                icon.style.color = '#0047ab'


                                htmx.ajax('POST', '/reimbursement/sign', {
                                    target: 'main', 
                                    swap:'outerHTML', 
                                    values: {
                                        reimbursement,
                                    } 
                                })

                            })
                        }
                        else {
                            signButton.classList.add('blank-button')
                        }
                        
                        signButton.appendChild(icon)
                        container.appendChild(signButton)

                    }

                    if (reimbursement.signed) {

                        const collectButton = document.createElement('button')
                        const icon = document.createElement('i')
                        icon.classList.add('fa-solid')
                        icon.classList.add('fa-money-bill')
                        if (reimbursement.collected) {
                            icon.style.color = '#228b22'
                            collectButton.classList.add('blank-button')
                        }
                        else {
                            collectButton.title = 'Collect'
                            collectButton.classList.add('action-button')
                            collectButton.addEventListener('click', () => {

                                icon.classList.remove('fa-money-bill')
                                icon.classList.add('fa-circle-notch')
                                icon.classList.add('fa-spin')
                                icon.style.color = '#0047ab'


                                htmx.ajax('POST', '/reimbursement/collect', {
                                    target: 'main', 
                                    swap:'outerHTML', 
                                    values: {
                                        reimbursement,
                                    } 
                                })

                            })
                        }
                        collectButton.appendChild(icon)
                        container.appendChild(collectButton)

                    }

                    if (reimbursement.signed && reimbursement.collected) {
                        const completeButton = document.createElement('button')
                        completeButton.classList.add('action-button')
                        const icon = document.createElement('i')
                        icon.classList.add('fa-solid')
                        icon.classList.add('fa-thumbs-up')
                        completeButton.appendChild(icon)
                        completeButton.title = 'Complete'

                        completeButton.addEventListener('click', () => {
                            $dispatch('complete-modal', {reimbursement}); 
                        })

                        container.appendChild(completeButton)
                    }

                    return container

                }

                let {reimbursements} = (await (await fetch('/reimbursements')).json())
                this.grid = agGrid.createGrid(this.$refs.grid, {
                    rowData : reimbursements,
                    components : {actionRenderer},
                    domLayout : 'autoHeight',
                    columnDefs : [
                        { field : 'reimbursementId' },
                        { field : 'amount' },
                        { 
                            field: 'Actions',
                            headerName: 'Actions',
                            cellRenderer: 'actionRenderer',
                            minWidth: 150,
                            suppressHeaderMenuButton: true,
                            cellStyle: { textAlign: 'center' }
                        },
                        { field : 'signedBy'},
                        { field : 'signedTime' },
                        { field : 'collectedBy' },
                        { field : 'collectedTime' }
                    ],
                })

                for (let reimbursement of reimbursements) {
                    if (reimbursement.signed && reimbursement.collected) {
                        $dispatch('complete-modal', {reimbursement})
                        break
                    }
                }

            },
        }">
            <h2>Reimbursements To Sign</h2>
            <div x-ref="grid" class="table ag-theme-quartz ag-center-cols-viewport" style="width: auto"></div>

            <div id="complete-modal"
            x-data="{
                openCompleteModal : false,
                reimbursement : null,
                async init() {
                    this.$refs.confirm.addEventListener('click', () => {
                        swapMain()
                        htmx.ajax('POST', '/reimbursement/completed', 
                        {
                            target: 'main', 
                            swap:'outerHTML', 
                            values: {
                                reimbursement : this.reimbursement,
                            } 
                        })
                    })
                }
            }"
            @complete-modal.window="openCompleteModal = true; reimbursement = $event.detail.reimbursement"
            >
                <div x-show="openCompleteModal" class="overlay" >
                    <div class="modal" @click.outside="openCompleteModal = false">
                        <button class="close-button" @click="openCompleteModal = false">&times;</button>
                        <h2>Complete Reimbursement <span x-text="reimbursement?.reimbursementId"></span>?</h2>
                        <div style="margin: 15px;">This will archieve the reimbursement</div>
                        <div class="table_btns">
                            <button class="solid" x-ref="confirm">
                                Confirm
                            </button>
                            <button class="reverse" @click="openCompleteModal = false" >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="view-modal"
            x-data="{
                openViewModal : false,
                reimbursement : null,
                viewGrid : null,
                async renderViewTable() {

                    let alpineObj = this
                    let transactions = Object.values(alpineObj.reimbursement.transactions) 

                    if (this.viewGrid) {
                        this.viewGrid.setRowData(transactions)
                        this.viewGrid.refreshCells()
                        return
                    }

                    const actionRenderer = function(params) {
                        let transaction = params.data
                        const container = document.createElement('div');
                        container.classList.add('action-container');

                        if (transaction.timeStamp) {
                            const queryButton= document.createElement('button')
                            queryButton.classList.add('action-button')
                            queryButton.title = 'Query'
                            const icon = document.createElement('i')
                            icon.classList.add('fa-solid')
                            icon.classList.add('fa-question')
                            queryButton.appendChild(icon)
                            queryButton.addEventListener('click', () => {
                                $dispatch('query-modal', {transaction})
                            })

                            container.appendChild(queryButton)
                        }

                        if (transaction) {
                            const uploadButton= document.createElement('button')
                            uploadButton.classList.add('action-button')
                            uploadButton.title = 'Receipt'
                            const icon = document.createElement('i')
                            icon.classList.add('fa-solid')
                            icon.classList.add('fa-receipt')
                            if (!transaction.filename) {
                                icon.style.color = '#cd5c5c' 
                            }
                            uploadButton.appendChild(icon)
                            uploadButton.addEventListener('click', () => {
                                $dispatch('upload-modal', {transaction});
                            })

                            container.appendChild(uploadButton)
                        }
                        return container;
                    }      

                    this.viewGrid = agGrid.createGrid(this.$refs.viewGrid, {
                    rowData : transactions,
                    domLayout: 'autoHeight',
                    components: {actionRenderer},
                    columnDefs : [
                        { field: 'transactionId', 
                        headerName : 'Voucher Number'},
                        { field: 'description'},
                        { field: 'amount' },
                        { field : 'approved'},
                        { field: 'recipient' },
                        { field: 'supplier' },
                        { field: 'createdBy' },
                        { field: 'date'},
                        { field: 'timeStamp' },
                        { 
                            field: 'Actions',
                            headerName: 'Actions',
                            cellRenderer: 'actionRenderer',
                            minWidth: 150,
                            suppressHeaderMenuButton: true,
                            cellStyle: { textAlign: 'center' }
                        },
                    ],
                    defaultColDef: {
                        filter: 'agTextColumnFilter',
                        floatingFilter: true,
                        width: 120,
                    },
                
                })
                },
                async downloadAllImages() {
                    let alpineObj = this
                    let transactions = Object.values(alpineObj.reimbursement.transactions)
                    transactions = transactions.filter((transaction) => (transaction.filename)) 
                    let promises = transactions.map(async (transaction) => {
                        const response = await fetch(transaction.imageUrl)
                        const blob = await response.blob()
                        return blob
                    })
                    const blobs = await Promise.all(promises)

                    const zip = new JSZip()
                    blobs.forEach((blob, index) => {
                        zip.file(`${transactions[index].filename}`, blob)
                    })
                    const zipFile = await zip.generateAsync({type : 'blob'})

                    let a = document.createElement('a')
                    let folderName = `${this.reimbursement.account}-${this.reimbursement.reimbursementId}`
                    a.download = folderName
                    let url = URL.createObjectURL(zipFile)
                    a.href = url
                    let modal = document.querySelector('#view-modal').querySelector('.modal')
                    modal.appendChild(a)
                    a.click()
                    a.remove()

                    URL.revokeObjectURL(url)

                }
            }"
            @view-modal.window="openViewModal = true; reimbursement = $event.detail.reimbursement; renderViewTable()"
            >
                <div x-show="openViewModal" class="overlay" >
                    <div class="modal">
                        <button class="close-button" @click="openViewModal = false">&times;</button>
                        <h2>View Reimbursement <span x-text="reimbursement?.reimbursementId"></span></h2>
                        <div class="title_btns">
                            <button title="Download Images" type="button" class="export_btn" @click="downloadAllImages()">
                                <i style="padding: 5px;" class="fa-solid fa-download"></i>
                            </button>
                        </div>
                        <div x-ref="viewGrid" class="table ag-theme-quartz ag-center-cols-viewport" style="width: auto"></div> 
                    </div>
                </div>

                <div id="query-modal"
                x-data="{
                    queryGrid : null,
                    openQueryModal : false,
                    loading : true,
                    async queryTransactionHistory(transaction) {
                        this.loading = true
                        let {transactions} = await (await fetch('/transaction/query/'+transaction.transactionId)).json()
                        transaction.transactionId = Number(transaction.transactionId)
                        transactions.push(transaction)
                            if (this.queryGrid) {
                                this.queryGrid.setRowData(transactions)
                                this.queryGrid.refreshCells()
                                this.loading = false
                                return
                            }
                            this.queryGrid = agGrid.createGrid(this.$refs.queryGrid, {
                                rowData : transactions,
                                columnDefs : [
                                    { field: 'transactionId', headerName : 'Voucher Number'},
                                    { field: 'description'},
                                    { field: 'amount' },
                                    { field: 'recipient' },
                                    { field: 'supplier' },
                                    { field: 'createdBy' },
                                    { field: 'date' },
                                    { field: 'timeStamp' },
                                    { field: 'editedBy' },
                                    { field: 'editTime'},
                                    { field: 'reimbursedBy' },
                                    { field: 'reimbursedTime'},
                                    { field: 'deletedBy'},
                                    { field: 'deletedTime'},
                                    { field: 'deleteReason'}
                                ],
                                defaultColDef: {
                                    filter: 'agTextColumnFilter',
                                    floatingFilter: true,
                                },
                            })
                            this.loading = false
                    },
                }"
                @query-modal.window="
                openQueryModal = true
                queryTransactionHistory($event.detail.transaction)
                "
                >
                 <div x-show="openQueryModal" class="overlay" >
                    <div class="modal" @click.outside="openQueryModal = false">
                        <button class="close-button" @click="openQueryModal = false">&times;</button>
                        <h2>View Transaction History</h2>
                        <div x-show="loading">
                            <span>Loading...</span>
                        </div>
                        <div x-show="!loading" x-ref="queryGrid" class="table ag-theme-quartz ag-center-cols-viewport" style="width: auto">
                        </div>
                    </div>
                 </div>
                </div>
                <div id="upload-modal"
                x-data="{
                    openUploadModal: false,
                    uploadFile: null,
                    transactionData: '',
                    buttonToggle: false,
                    previewImage: null,
                    uploadErrorMessage: '',
                    fileName: '',
                    async uploadFileHandler() {
                        try {
                            fetch('/upload/delete', {
                                method: 'POST',
                                headers: {
                                    'Content-Type' : 'application/json',
                                },
                                body: JSON.stringify({filename: this.transactionData.filename})
                            })    

                            this.openUploadModal = false
                            this.openViewModal = false
                            this.swapMain()

                            const formData = new FormData();
                            formData.append('file', this.uploadFile)
                            formData.append('transactionId', this.transactionData.transactionId)
                            formData.append('reimbursement', JSON.stringify(this.reimbursement))
                            fetch('/upload/sign', {
                                method : 'POST',
                                body: formData
                            })
                            .then(() => {
                                this.previewImage = null
                            })
                            .then(() => {
                                htmx.ajax('GET', '/transaction_sign', {
                                    target: 'main',
                                    swap:'outerHTML'
                                })
                            })

                        } catch (error) {
                            console.error('Upload failed:', error);
                            this.uploadErrorMessage = 'Upload failed. Please try again.';
                        }
                    },
                    async downloadImage() {
                        const image = await fetch(this.previewImage)
                        const imageBlob = await image.blob()
                        const imageURL = URL.createObjectURL(imageBlob)

                        const link = document.createElement('a')
                        link.href = imageURL
                        link.download = this.transactionData.filename

                        let modal = document.querySelector('#upload-modal').querySelector('.modal')

                        modal.appendChild(link)
                        link.click()
                        modal.removeChild(link)

                        URL.revokeObjectURL(imageURL)
                    },

                }"
                @upload-modal.window="
                    openUploadModal = true;
                    transactionData = $event.detail.transaction;
                    previewImage = $event.detail.transaction.imageUrl || '/static/images/noimage.png';

                    buttonToggle = false;
                    uploadErrorMessage = '';
                    uploadFile = null;
                "
                x-init="$watch('uploadFile', uploadFile => {
                    fileName = uploadFile?.name;
                    if (!uploadFile) {
                        $refs.uploadFileInput.value = null
                    }
                })"
            >
                <div x-show="openUploadModal" class="overlay">
                    <div class="modal" @click.outside="previewImage = null; openUploadModal = false;">

                        <button class="close-button" @click="previewImage = null; openUploadModal = false;">&times;</button>

                        <h2>Upload File</h2>

                        <div class="upload-buttons">
                            <label for="file-upload" id="file-upload-label">Choose File</label>
                            <input id="file-upload" type="file"
                                x-ref="uploadFileInput"
                                @change="uploadFile = $event.target.files[0]; uploadErrorMessage=''; buttonToggle=true;"
                                accept="image/png, image/gif, image/jpeg">
                            <span id="file-upload-name" x-text="fileName"></span>
                            <button type="submit" x-show="buttonToggle" class="submit-button" @click="uploadFileHandler()">Upload</button>
                            <div x-show="uploadErrorMessage" class="error-message" x-text="uploadErrorMessage"></div>
                        </div>

                        <div x-show="previewImage != '/static/images/noimage.png' " class="download-button">
                            <i @click="downloadImage()" class="fa-solid fa-download"></i>
                        </div>

                        <div class="receipt-container">
                            <img x-bind:src="previewImage" alt="receipt preview" class="receipt-image">
                        </div>
                        
                    </div>
                </div>
                </div>    
            </div>
        </div>
</main>