<main x-ref="main" class="swappable">
    <div x-data="{
        transactionLog : [],
        grid : null,
        async init(){
            const actionRenderer = function(params) {
                let transaction = params.data
                const container = document.createElement('div');
                container.classList.add('action-container');

                if (transaction.timeStamp) {
                    const queryButton= document.createElement('button')
                    queryButton.classList.add('action-button')
                    queryButton.title = 'Query'
                    const icon = document.createElement('i')
                    icon.classList.add('fa-solid')
                    icon.classList.add('fa-question')
                    queryButton.appendChild(icon)
                    queryButton.addEventListener('click', () => {
                        $dispatch('query-modal', {transaction})
                    })

                    container.appendChild(queryButton)
                }

                if (transaction.filename) {
                    const uploadButton= document.createElement('button')
                    uploadButton.classList.add('action-button')
                    uploadButton.title = 'Receipt'
                    const icon = document.createElement('i')
                    icon.classList.add('fa-solid')
                    icon.classList.add('fa-receipt')
                    uploadButton.appendChild(icon)
                    uploadButton.addEventListener('click', () => {
                        $dispatch('upload-modal', {transaction});
                    })

                    container.appendChild(uploadButton)
                }
                return container;
            }
            let {transactionHistory} = (await (await fetch('/transactions/history')).json())
            let account = this.accountTextMap[this.currAccount]
            this.grid = agGrid.createGrid(this.$refs.myGrid, {
                rowData : transactionHistory,
                components: {actionRenderer},
                domLayout: 'autoHeight',
                pagination : true,
                paginationPageSize : 20,
                columnDefs : [
                    {
                        field : 'Action',
                        headerName : 'Action',
                        cellRenderer: 'actionRenderer',
                        maxWidth: 85,
                        suppressMenu: true,
                        cellStyle: { textAlign: 'center' }
                    },
                    { field: 'transactionId', headerName : 'Voucher Number'},
                    { field: 'description'},
                    { field: 'amount' },
                    { field: 'recipient' },
                    { field: 'supplier' },
                    { field: 'createdBy' },
                    { field: 'date' },
                    { field: 'timeStamp' },
                    { headerName: 'Account', 
                        valueGetter: function (params) {
                            return account 
                        },
                    },
                    { field: 'editedBy' },
                    { field: 'editTime'},
                    { field: 'reimbursedBy' },
                    { field: 'reimbursedTime'},
                    { field: 'deletedBy'},
                    { field: 'deletedTime'},
                    { field: 'deleteReason'}
                ],
                defaultColDef: {
                    filter: 'agTextColumnFilter',
                    floatingFilter: true,
                },
            })

        },
        exportTableAsCsv() {
            let account = this.currAccount
            let accountToCodeMap = {
                muneshwers : 'ML',
                barges : 'BS',
                paragon : 'PT',
                meals : 'M'
            }
            let code = accountToCodeMap[account]
            const processCellCallback = (params) => {
                if (params.column.getId() === 'transactionId' ){
                    if (params.value){
                        return code + params.value
                    }
                    return
                }
                return params.value
            }
            this.grid.exportDataAsCsv({processCellCallback})
        },

    }">
        <div class="title" style="margin: 5px;">
            <div class="history_buttons">
                <span class="history_button selected">Transaction History</span> 
                <span @click="swapMain()"  hx-trigger="click delay:0.25s" hx-get="/reimbursement_history" hx-target="main" class="history_button">
                    Reimbursement History
                </span>
            </div>
            <div class="title_btns">
                <button type="button" class="export_btn" @click="exportTableAsCsv()">
                    <img src="/static/images/download.svg" alt="download button" height="25" width="25">
                </button>
            </div>
        </div>
        <div class="history-container">
            <div x-ref="myGrid" class="table ag-theme-quartz ag-center-cols-viewport" style="width: auto"></div>
        </div>
        <div id="query-modal"
        x-data="{
            queryGrid : null,
            openQueryModal : false,
            loading : true,
            async queryTransactionHistory(transaction) {
                this.loading = true
                let {transactions} = await (await fetch('/transaction/query/'+transaction.transactionId)).json()
                    if (this.queryGrid) {
                        this.queryGrid.setRowData(transactions)
                        this.queryGrid.refreshCells()
                        this.loading = false
                        return
                    }
                    this.queryGrid = agGrid.createGrid(this.$refs.queryGrid, {
                        rowData : transactions,
                        columnDefs : [
                            { field: 'transactionId', headerName : 'Voucher Number'},
                            { field: 'description'},
                            { field: 'amount' },
                            { field: 'recipient' },
                            { field: 'supplier' },
                            { field: 'createdBy' },
                            { field: 'date' },
                            { field: 'timeStamp' },
                            { field: 'editedBy' },
                            { field: 'editTime'},
                            { field: 'reimbursedBy' },
                            { field: 'reimbursedTime'},
                            { field: 'deletedBy'},
                            { field: 'deletedTime'},
                            { field: 'deleteReason'}
                        ],
                        defaultColDef: {
                            filter: 'agTextColumnFilter',
                            floatingFilter: true,
                        },
                    })
                    this.loading = false
            },
        }"
        @query-modal.window="
        openQueryModal = true
        queryTransactionHistory($event.detail.transaction)
        "
        >
         <div x-show="openQueryModal" class="overlay" >
            <div class="modal" @click.outside="openQueryModal = false">
                <button class="close-button" @click="openQueryModal = false">&times;</button>
                <h2>View Transaction History</h2>
                <div x-show="loading">
                    <span>Loading...</span>
                </div>
                <div x-show="!loading" x-ref="queryGrid" class="table ag-theme-quartz ag-center-cols-viewport" style="width: auto">
                </div>
            </div>
         </div>
        </div>
        <div id="upload-modal"
        x-data="{
            openUploadModal: false,
            transactionData: '',
            previewImage: null,
            async downloadImage() {
                const image = await fetch(this.previewImage)
                const imageBlob = await image.blob()
                const imageURL = URL.createObjectURL(imageBlob)

                const link = document.createElement('a')
                link.href = imageURL
                link.download = this.transactionData.filename

                let modal = document.querySelector('#upload-modal').querySelector('.modal')

                modal.appendChild(link)
                link.click()
                modal.removeChild(link)
            },
        }"
        @upload-modal.window="
            openUploadModal = true;
            transactionData = $event.detail.transaction;
            previewImage = $event.detail.transaction.imageUrl || '/static/images/noimage.png';
        "
    >
        <div x-show="openUploadModal" class="overlay">
            <div class="modal" @click.outside="previewImage = null; openUploadModal = false;">

                <button class="close-button" @click="previewImage = null; openUploadModal = false;">&times;</button>

                <h2>Upload File</h2>
                <div x-show="previewImage != '/static/images/noimage.png' " class="download-button">
                    <i @click="downloadImage()" class="fa-solid fa-download"></i>
                </div>
                <div class="receipt-container">
                    <img x-bind:src="previewImage" alt="receipt preview" class="receipt-image">
                </div>
                
            </div>
        </div>
        </div>    
    </div>
</main>