<main x-ref="main" class="swappable">
    <div x-data="{
        transactionLog : [],
        grid : null,
        async init(){
            let {transactionHistory} = (await (await fetch('/transactionHistory')).json())
            this.grid = agGrid.createGrid(this.$refs.myGrid, {
                rowData : transactionHistory,
                domLayout: 'autoHeight',
                columnDefs : [
                    { field: 'transactionId'},
                    { field: 'description'},
                    { field: 'amount' },
                    { field: 'recipient' },
                    { field: 'createdBy' },
                    { field: 'date'}
                ],
                defaultColDef: {
                    filter: 'agTextColumnFilter',
                    floatingFilter: true,
                },
            })

        },
        exportTableAsCsv() {
            this.grid.exportDataAsCsv()
        },
    }">
        <div class="title">
            <h2>All Transactions</h2>
            <div class="title_btns">
                <button type="button" class="export_btn" @click="exportTableAsCsv()">
                    <img src="/static/images/download.svg" alt="download button" height="25" width="25">
                </button>
            </div>
        </div>
        <div x-ref="myGrid" class="table ag-theme-quartz ag-center-cols-viewport" style="width: auto"></div>
    </div>
</main>