@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --moderate-blue: #4876B6;
    --dark-moderate-blue: #345076;
    --very-dark-grayish: #3D3938;
    --grayish-orange: #CDC6B2;
    --light-grayish-orange: #EDEBE5;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.raleway-medium {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* .raleway-semibold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
} */

.raleway-semibold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.poppins-general {
    font-family: "Poppins", sans-serif;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

header {
    border-bottom: 0.5px solid #dcdcdc;
    width: 100%;
    font-size: large;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.123);
    background-color: white;
    padding: 10px;
}

.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    /* margin: 2vh; */
    margin-left: 3vw;
    margin-top: 2;
}

.header-app-name {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.header-app-name h1{
    margin: 0;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.header-app-title {
    font-size: 30px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

main.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.company {
    color: var(--dark-moderate-blue);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

nav {
    padding: 2vw;
    cursor: pointer;
    transition: color 0.3s;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

nav:hover {
    color: #CCCCCC;
}

nav.current {
    color: #0047ab;
    font-weight: 400;
}

nav.current:hover {
    color: #0047ab;
}

.swappable {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    left: -100%;
    animation: slide-in 0.25s forwards;
    padding: 10px 50px 50px 50px;
}

.outswappable {
    position: relative;
    left: 0;
    animation: slide-out 0.25s forwards;
    padding: 10px 50px 50px 50px;
}

@keyframes slide-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0; 
    }
}

@keyframes slide-out {
    from {
        left: 0%; 
    }
    to {
        left: -100%; 
    }
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 200px;
    
}

.account button {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: 20px;
    border: none;
    align-items: center;
    cursor: pointer;
}

.account button span {
    font-size: 18px;
}

.account button svg {
    height: 20px;
    color: #666666;
}

.account .panel {
    position: absolute;
    top: 80%;
    background: #fff;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    cursor: pointer;

}

.account-button-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.account .panel .panel-item {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.account .panel .panel-item:hover {
    background-color: #f0f0f0;
}

.panel {
    z-index: 10000;
}

main {
    margin: 7vw;
    margin-top: 0;
}


input {
    background: #fff;
    border: 2px solid #97979756;
    float: left;
    font-size: 15px;
    height: 15px;
    margin: 0;
    padding: 10px;
    max-width: 75vw;
    outline: none;
    border-radius: 10px;
}

input:focus,
input:hover {
    border: 2px solid #0047ab;
}

input.error {
    background-color: #fce4e4;
    border: 2px solid #cc0033;
    outline: none;
}

input.error:hover,
input.error:focus {
    background-color: #fce4e4;
    border: 2px solid #cc0033;
}


.transaction-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.input-column form {
    padding: 30px;
    border-radius: 10px;
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.input-column form:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.11);
    transition: 0.5s;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 0;
    position: relative;
    width: 100%;
    border-radius: 10px;
}

.item input:focus + .label {
    font-size: 12px;
    color: #0047ab;
    transition: color 0.3s, font-size 0.3s;
}

.item .errorMessage {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
    margin-bottom: 5px;
    height: 15px;
}
.item .label {
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    margin-top: 3px;
    margin-left: 10px;
    height: 15px;
    transition: color 0.3s, font-size 0.3s;
}

.transaction-container {
    margin-top: 3vh;
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 100px;
}

.info-column {
    width: 40%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.input-column {
    width: 60%;
    /* overflow-y: scroll */
}

.amount-box {
    display: flex;
    flex-direction: column;
    font-size: larger;
    margin-bottom: 5vh;
    max-width: 500px;
    padding: 40px;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.amount-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.11);
    transition: 0.5s;
}

.amount-box .amount {
    display: flex;
    flex-direction: row;
}

.amount-value {
    margin-left: 10px;
    font-weight: 500;
}

.current {
    color: green;
}

.deducted {
    color: red;
}

.remainder {
    color: black;
}

.amount {
    color: rgb(58, 58, 58);
    font-weight: 300;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.limit {
    padding: 40px;
    max-width: 500px;
    height: 100px;
    background-color: #ffdede;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(110, 0, 0);
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 0, 0, 0.08);
}

.limit svg {
    margin-right: 10px;
}

.amount-box .amount div {
    width: 15vw;
}

.submit-button {
    background-color: #0047ab;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #003580;
}

.submit-button:disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
    cursor: not-allowed;
}

.readonly {
    color: #686868;
    cursor: not-allowed;
}

input.default {
    border: 2px solid #97979756;
}

input.default:focus, input.default:hover {
    border: 2px solid #0047ab;
}



button {
    border-radius: 10px;
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    max-width: 90%;
    text-align: center;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    color: #666666;
    font-size: 18px;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
}

.login-container button[type="submit"] {
    background-color: #0047ab;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}
.login-container button[type="submit"]:hover {
    background-color: #003580;
}

.ag-center-cols-viewport {
    min-height: unset !important;
}

.table_btns button[type="button"] {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.table_btns .solid {
    background-color:#0047ab;
    color: white;
    border: none;
    padding: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.history_buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.history_button {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.history_button.selected {
    border-radius: 10px;
    background-color: #f0f0f0;
}

.title_btns {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100px;
    justify-content: space-between;
}

.title_btns button {
    background: transparent;
    border: none;
    height: 40px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.title_btns button:hover{
    background-color: #f0f0f0;
}

.table_btns .solid:hover {
    background-color:#003580;
}

.table_btns .reverse {
    padding: 10px;
    border: 1px solid #0047ab;
    background-color: transparent;
    color: #0047ab;
    transition: color 0.3s, background-color 0.3s;
}

.table_btns .reverse:hover {
    background-color: #0047ab;
    color: white;
}

.reverse-button {
    background: transparent;
    height: 40px;
    border-radius: 10px;
    transition: background-color 0.3s;
    border: 1px solid #0047ab;
    background-color: transparent;
    color: #0047ab;
    transition: color 0.3s, background-color 0.3s;
}

.reverse-button:hover {
    background-color: #0047ab;
    color: white;
}

.reimburse_container {
    display: flex;
}

.reimburse_container > .section1 {
    flex: 1;
    margin-right: 20px;
}

.reimburse_container > .section2 {
    flex: 1;
}

.table-card {
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.055);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.14);
}
.to-sign {
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.055);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.14);
}

.history-container {
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.055);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.14);
}

.action-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.action-button {
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #b0b0b0;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    height: fit-content;
}

.action-button:hover {
    color: #0047ab;
    background-color: white;
}

.blank-button {
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #b0b0b0;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    height: fit-content;
}

.modal {
    background: white;
    border: 1px solid #f0f0f0 ;
    padding: 40px;
    width: 85vw;
    height: 70vh;
    overflow-y: auto;
    position: relative;
    border-radius: 10px;
}

.modal h1 {
    margin-top: 0;
}

.edit-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #555;
}

.close-button:hover {
    color: #CCCCCC;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-btns .edit-amount {
    margin-top: 10px;
    display: flex; 
    flex-direction: column; 
    width: 75px; 
    background: none; 
    border: none; 
    align-items: center; 
    cursor: pointer;
}

.modal-btns .edit-amount:hover {
    background-color: #f0f0f0;
}

.edit-button {
    background-color: white;
    color: #0047ab;
    padding: 5px 10px;
    border: 1px solid #0047ab;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.edit-button:hover {
    background-color: #0047ab;
    color: white;
}

.query-button {
    background-color: white;
    color: #0047ab;
    padding: 5px 10px;
    border: 1px solid #0047ab;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.query-button:hover {
    background-color: #0047ab;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.upload-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
}


.download-button {
    margin-top: 20px;
}


.download-button i {
    padding: 5px;
    border-radius: 3px;
    color: #444;
    transition: background-color 0.3s ease-in-out;
}

.download-button i:hover {
    background-color: #f0f0f0;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.receipt-container {
    margin-top: 10px;
    /* border: 1px rgba(182, 182, 182, 0.445) solid; */
    height: 100%;
    object-fit: contain;
    display: flex;
    border-radius: 16px;
}

.receipt {
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

#file-upload-label {
    background-color: #fcfffc;
    color: #0047ab;
    padding: 10px 20px;
    border: 1px #0047ab solid;
    border-radius: 5px;
    cursor: pointer;
}

#file-upload {
    display: none;
}

#file-upload-name {
    display: inline-block;
    margin-left: 10px;
    color: black;
    min-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}