body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.5px solid #dcdcdc;
    width: 100%;
    font-size: large;
}

main.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.company {
    color: #0047ab;
}

.navbar {
    display: flex;
    flex-direction: row;
}

nav {
    padding: 2vw;
    cursor: pointer;
}

nav:hover {
    color: #CCCCCC;
}

nav.current {
    color: #0047ab;
}

nav.current:hover {
    color: #0047ab
}

main {
    margin: 7vw;
    margin-top: 0;

}

input {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 15px;
    height: 15px;
    margin: 0;
    padding: 8px;
}

input.error {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
}

.transaction-form {
    display: flex;
    flex-direction: row;
}

.transaction-form .item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 0;
}

.transaction-form .item .errorMessage {
    color: #cc0033;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    margin: 5px 0 0;
    margin-bottom: 5px;
    height: 15px;
}

.amount-box {
    display: flex;
    flex-direction: column;
    font-size: larger;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 800px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
}

.amount-box .amount {
    display: flex;
    flex-direction: row;
}

.amount-box .amount div {
    width: 15vw;
}

.submit-button {
    background-color: #0047ab;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #003580;
}

.submit-button:disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
    cursor: not-allowed;
}

input {
    border-radius: 15px;
}

button {
    border-radius: 15px;
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    max-width: 90%;
    text-align: center;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    color: #666666;
    font-size: 18px;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
}

.login-container button[type="submit"] {
    background-color: #0047ab;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}
.login-container button[type="submit"]:hover {
    background-color: #003580;
}

.ag-center-cols-viewport {
    min-height: unset !important;
}